<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Blog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Brand</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li {% if 'lists' in request.path %}class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'blog-list' %}">Blog</a></li>
        {% if user.is_authenticated %}
        <li {% if 'create' in request.path %}class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'blog-create' %}">Create</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      <ul class='navbar-nav navbar-right'>

        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" >Welcome {{ user.username  }}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li {% if 'login' in request.path %}class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'Login' %}">Login</a></li>
        <li {% if 'signhere' in request.path %}class="nav-item active"{% endif %}><a class="nav-link" href="{% url 'register' %}">Register</a></li>

        {% endif %}

      </ul>
     </div>
    </nav>

    {% block content %}


    {% endblock %}

  </body>
</html>
